.container {
  width: 200px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 4rem;
  padding: 20px;

  text-align: center;
  background: darkgrey;
  border: 3px solid dimgrey;
  border-radius: 7px;

}

.out {
  margin-bottom: 2rem;
}

input {
  text-align: right;
}

button {
  margin: 2px;
  width: 2rem;
}
